* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contactContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../assets/rieracanler-grill-8225405.jpg");
    background-size: cover;
}

.form {
    background: rgba(0, 0, 0, 0.547);
    backdrop-filter: blur(25px);
    display: flex;
    padding: 50px;
    width: 100%;
}

.form img {
    width: 800px;
    object-fit: cover;
}

form {
    background-color: rgb(255, 255, 255);
    /* backdrop-filter: blur(20px); */
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

form span {
    font-weight: 700;
    font-size: 20px;

}

form p {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form p input {
    font-size: 16px;
    /* padding: 8px 10px; */
    border: none;
    border-bottom: 2px solid black;
    background-color: transparent;
    outline: none;
}

form p textarea {
    font-size: 16px;
    font-family: inherit;
    resize: none;
    padding: 10px;
    outline: none;
    color: white;
    margin-top: 10px;
    background-color: transparent;
}

form div {
    text-align: center;
}

form button {
    font-size: 15px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: 600;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

form button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}