* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about-container {
    max-width: 1200px;
    margin: 0 auto;
    color: #ffffff;
    /* background-color: rgb(0, 0, 0); */
    padding: 80px 0 80px 80px;
    
}

.about-hero {
    text-align: center;
    /* margin-bottom: 50px; */
}

.about-hero h1 {
    font-size: 4rem;
    font-family: 'Playfair Display', serif;
    margin-bottom: 10px;
    color: #1a1a1a;
}

.tagline {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #e74c3c;
    font-weight: 600;
}

.story-content {
    display: flex;
    align-items: center;
    gap: 60px;
    margin-bottom: 100px;
}


.story-text {
    flex: 1;
}

.story-text h2 {
    font-size: 2.2rem;
    font-family: 'Playfair Display', serif;
    margin-bottom: 25px;
    position: relative;
}

.story-text h2::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background: #e74c3c;
    margin-top: 10px;
}

.story-text p {
    margin-bottom: 20px;
    font-size: 1.1rem;
    color: #555;
}


.story-image {
    flex: 1;
    position: relative;
}

.story-image img {
    width: 80%;
    height: auto;
    border-radius: 4px;
    box-shadow: 20px 20px 0px #f4f4f4;
    display: block;
}

.values-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    text-align: center;
    margin-top: 80px;
    padding-top: 60px;
    border-top: 1px solid #eee;
}

.value-item h3 {
    margin-bottom: 15px;
    font-family: 'Playfair Display', serif;
}